@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --desaturatedDarkBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(212, 23%, 69%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
}
/* default */
.attribution {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--lightGrayishBlue);
}
.card {
  background-color: #fff;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 800px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  color: var(--desaturatedDarkBlue);
}
.card__img {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 300px;
  min-height: 300px;
}
.card__img img {
  width: 100%;
  height: 100%;
}
.pop-up {
  position: absolute;
  right: 0;
  transform: translateY(30px);
  pointer-events: none;
  transition: 0.4s ease-out;
  opacity: 0;
}
.pop-up-animation {
  transform: translateY(0px);
  pointer-events: all;

  opacity: 1;
}
.card__details {
  /* width: 500px; */
  height: 300px;
  padding: 35px;
}
.card__details__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--veryDarkGrayishBlue);
}
.card__details__subtitle {
  font-size: 14px;

  padding: 20px 0;
}
.card__detail__footer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card__detail__footer__left {
  display: flex;
  line-height: 20px;
}
.avatar-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.avatar__details {
  position: absolute;
  left: 65px;
  bottom: 10px;
  /* width: 150px; */
}
.avatar__name {
  font-weight: 700;
  color: var(--desaturatedDarkBlue);
}
.card__detail__footer__right {
  cursor: pointer;
  display: grid;
  place-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--lightGrayishBlue);
}
.share__popup {
  color: var(--lightGrayishBlue);
  letter-spacing: 0.2em;
  background-color: var(--veryDarkGrayishBlue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 210px;
  border-radius: 10px;
  position: absolute;
  right: -90px;
  top: -80px;
}
.share__popup div {
  cursor: pointer;
}
.share__popup__tail {
  height: 20px;
  width: 30px;
  background-color: var(--veryDarkGrayishBlue);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  position: absolute;
  right: 5px;
  top: -35px;
}
.hidden__sharebtn {
  display: none;
}

@media screen and (max-width: 850px) {
  .card {
    top: 20px;
    transform: translate(-50%, 0);

    height: 640px;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card__img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
  .share__popup__tail {
    display: none;
  }
  .share__popup {
    height: 70px;
    width: 300px;
    position: absolute;
    right: -35px;
    border-radius: 0;
    top: 0;
  }
  .hidden__sharebtn {
    display: block;
    cursor: pointer;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--lightGrayishBlue);
  }
  .card__details__title {
    font-size: 18px;
  }
}
