.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    padding-top: 30px;
}

.scoreboard {
    /* position: absolute;
    top: 30px; */
    color: hsl(229, 64%, 46%);
    max-width: 570px;
    border: 4px solid hsl(217, 16%, 45%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}
.scorecard {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 1.5em;
    text-transform: uppercase;
}
.scorepoints {
    font-size: 2em;
    color: hsl(229, 25%, 31%);
}
.rules {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.2s;
}
.rules:hover {
    background-color: #fff;
    color: hsl(237, 49%, 15%);
}
.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}
.rules-popup {
    background-color: #fff;
    height: 380px;
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    font-size: 2em;
    border-radius: 20px;
    color: hsl(229, 25%, 31%);
    text-transform: uppercase;
}
.pop-up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.pop-up img {
    cursor: pointer;
}
.grid-center {
    display: grid;
    place-content: center;
}
.img-holder {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* border: 20px solid brown; */
    background-color: #fff;
    display: grid;
    place-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
.triangle {
    padding-top: 90px;
}
.img-holder:nth-child(1) {
    transform: translate(-220px, -120px);
}
.img-holder:nth-child(2) {
    transform: translate(80px, -120px);
}
.img-holder:nth-child(3) {
    transform: translate(-70px, 120px);
}
.paper {
    border: 20px solid hsl(230, 89%, 62%);
    transform: translate(-220px, -120px);
}
.scissors {
    border: 20px solid hsl(39, 89%, 49%);
    transform: translate(80px, -120px);
}
.rock {
    border: 20px solid hsl(349, 71%, 52%);
    transform: translate(-70px, 120px);
}
.players {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.playerpick {
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.label-player {
    padding: 50px 0;
}
.rockpick {
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #fff;
    background-image: url("images/icon-rock.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid hsl(349, 71%, 52%);
}
.scissorspick {
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #fff;
    background-image: url("images/icon-scissors.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid hsl(39, 89%, 49%);
}
.paperpick {
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #fff;
    background-image: url("images/icon-paper.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid hsl(230, 89%, 62%);
}
.message {
    display: none;
    text-align: center;
    transform: translateY(-120px);
}
.txtMessage {
    color: #fff;
    font-size: 2em;
}
.btnRestart {
    padding: 10px 40px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.btnRestart:hover {
    background-color: pink;
}
.playground-pick {
    /* display: none; */
}
.playground {
    display: none;
}
.player1,
.player2 {
    width: 225px;
    white-space: nowrap;
}
